*{
    margin: 0%;
    padding: 0%;
}

html, body {
    height: 100%;
    max-height: 100%;
}

.flex-container {
    display: flex;
    height: 100%;
}
.container {
    margin: auto;
    position: relative;
}
.base_logo {
    width: 500px;
    height: 300px;
    /*border: 1px solid black;*/
}
.base_logo_simbolo {
    display: inline-block;
    width: 25%;
   /*border: 1px solid red;*/
}
.base_logo_nombre {
   vertical-align:top;
    display: inline-block;
    width: 30%;
    height: 250px;
    color: #747273;
    font: 60px "Segoe UI";
    padding-top: 5%;
    

}
.square {
    display: inline-block;
    width: 60px;
    height: 60px;
    border: 0.5px solid white;
    margin-top: -4px;
    margin-right: -4px;
}
.color_01 {
    background: #f8510c;
}
.color_02 {
    background: #7eba00;
}
.color_03 {
    background: #00a3f4;
}
.color_04 {
    background: #ffba00;
   
}